@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: darkgray;
}
header{
    background-color: black;
    text-align: center;
}
header >h1{
    color: white;
    padding-top: 50px;
}
header>p{
    color: white;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section.normal{
    background-color: rgb(255, 255, 255);
}
section.normal>p{
    padding: 20px;
    padding-bottom: 115px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 1.3em;
    line-height: 40px;
}
section.imagem{
    background-color: rgb(48, 49, 49);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13xp 0px rgb(0, 0, 0);
}
section.imagem >p{
    background-color: rgba(0, 0, 0, 0.268);
    color: white;
    padding-left : 20px; 
    display: inline-block;
    margin-left: 10px;
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: bottom center;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}